.flash-timer-modal {
    display: none;
    position: fixed;
    bottom: 4em;
    background: #ff3144;
    right: 4em;
    padding: 0.5em 1em 1em 1em;
    color: #ffd984;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999;
    text-align: center;
	font-size: 1.8em;
}

div#flash-countdown {
    padding: 0.5em;
    color: black;
    display: flex;
    text-align: center;
    font-weight: bold;
    background: white
}

@media screen and (min-width: 1025px) {
    div#flash-timer-modal-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {

    .flash-timer-modal {
        display: none !important;
    }

    div#flash-timer-modal-mobile {
        display: none;
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.25em 0.5em 0.5em 0.5em;
        z-index: 2;
        color: #ffd984;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background: #ff3144;
    }

    .main-mobile-flash-timer {
        display: block !important;
        position: fixed;
        bottom: 1em;
        background: #ff3144;
        right: 1em;
        padding: 0.25em;
        color: #ffd984;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 3;
        text-align: center;
    }

    div#flash-countdown {
        padding: 0.25em;
        font-size: 0.7em;
        z-index: 2;
        background: white
    }
	
	.jst-hours {
	  float: left;
	  display: none;
	}
	
	.jst-minutes {
	  float: left;
	  font-weight: 600;
	}
	
	.jst-seconds {
	  float: left;
		  margin-right: 15px;
		font-weight: 600;
	}
	
	.jst-clearDiv {
	  clear: both;
	}

	.bodyTimeoutBackground {
	  background: white;
	}

	.timeout {
	  color: red;
	  -webkit-animation-name: blinker;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	  -webkit-animation-duration: 1s;
	}
	
	@-webkit-keyframes blinker {
	  from { opacity: 1.0; }
	  to { opacity: 0.0; }
	}

	.timer-sec {
		background: #0F2027;
		background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
		background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
		text-align: center;
	}
	
	h1 .timer {
			margin: 0;
			color: #fff;
			font-size: 15px;
			text-align: center;
			text-transform: capitalize;
			font-weight: 400;
			padding: 15px;
			display: inline-block;
	}

	h1 .timer .a {
		display: inline-block;
		color: #fff;
		font-size: 10px;
		border: 1.3px solid #fff;
		width: 20px;
		height: 19px;
		border-radius: 50%;
		line-height: 17px;
		margin-left: 6px;
	}
}
