.flash-timer-modal {
    display: none;
    position: fixed;
    bottom: 4em;
    background: #ff3144;
    right: 4em;
    padding: 0.5em 1em 1em 1em;
    color: #ffd984;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999;
    text-align: center;
    font-size: 1.8em;
}

div#flash-countdown {
    padding: 0.5em;
    color: black;
    display: flex;
    text-align: center;
    font-weight: bold;
    background: white
}

form#checkoutForm  label.control-label {

  font-weight: 0 !important;
  line-height: 0px !important;
}

@media screen and (min-width: 1025px) {
    div#flash-timer-modal-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {

    .flash-timer-modal {
        display: none !important;
    }

    div#flash-timer-modal-mobile {
        display: none;
        position: absolute;
        bottom: 1em;
        right: 1em;
        padding: 0.25em 0.5em 0.5em 0.5em;
        z-index: 2;
        color: #ffd984;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        background: #ff3144;
    }

    .main-mobile-flash-timer {
        display: block !important;
        position: fixed;
        bottom: 1em;
        background: #ff3144;
        right: 1em;
        padding: 0.25em;
        color: #ffd984;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 3;
        text-align: center;
    }

    div#flash-countdown {
        padding: 0.25em;
        font-size: 0.7em;
        z-index: 2;
        background: white
    }

    .jst-hours {
        float: left;
        display: none;
    }

    .jst-minutes {
        float: left;
        font-weight: 600;
    }

    .jst-seconds {
        float: left;
        margin-right: 15px;
        font-weight: 600;
    }

    .jst-clearDiv {
        clear: both;
    }

    .bodyTimeoutBackground {
        background: white;
    }

    .timeout {
        color: red;
        -webkit-animation-name: blinker;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
        -webkit-animation-duration: 1s;
    }

    @-webkit-keyframes blinker {
        from {
            opacity: 1.0;
        }

        to {
            opacity: 0.0;
        }
    }

    .timer-sec {
        background: #0F2027;
        background: -webkit-linear-gradient(to right,#2C5364,#203A43,#0F2027);
        background: linear-gradient(to right,#2C5364,#203A43,#0F2027);
        text-align: center;
    }

        .timer-sec h1.timer {
            margin: 0;
            color: #fff;
            font-size: 15px;
            text-align: center;
            text-transform: capitalize;
            font-weight: 400;
            padding: 15px;
            display: inline-block;
        }

            .timer-sec h1.timer a {
                display: inline-block;
                color: #fff;
                font-size: 10px;
                border: 1.3px solid #fff;
                width: 20px;
                height: 19px;
                border-radius: 50%;
                line-height: 17px;
                margin-left: 6px;
            }

    .info-sec .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .info-sec .modal-content {
        width: 100%;
    }

    .info-sec h4 {
        color: #111;
        margin: 0 0 15px;
        font-family: 'Oswald',sans-serif;
        text-transform: uppercase;
    }

    .info-sec p {
        color: #333;
        font-weight: 400;
        line-height: 25px;
    }

    .info-sec .modal-footer {
        border: none;
        padding: 0 15px 22px;
    }

    div#timermodel .modal-dialog {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    div#timermodel .modal-content {
        width: 100%;
        background: #0F2027;
        background: -webkit-linear-gradient(to right,#2C5364,#203A43,#0F2027);
        background: linear-gradient(to right,#2C5364,#203A43,#0F2027);
        border: none;
        text-align: center;
    }

    div#timermodel .modal-body {
        padding: 0;
    }

    div#timermodel i.fa.fa-hourglass-o {
        font-size: 56px;
        color: rgba(255,255,255,0.38);
        margin: 25px 0 0;
    }

    div#timermodel h3 {
        margin: 17px 0 0;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    div#timermodel h2 {
        color: #fff;
        font-size: 23px;
        font-weight: 500;
        font-family: 'Oswald',sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 17px 0 0;
    }

    div#timermodel p {
        color: #fff;
        font-weight: 300;
        margin: 15px 0;
        padding: 0 15px;
    }

    div#timermodel a {
        display: table;
        width: 100%;
        background: #1abc9c;
        color: #fff;
        padding: 14px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.5px;
        margin: 44px 0 0;
    }
}